*.dll
*.pdb
proyecto/SACG/SACG.v11.suo
*.cache
proyecto/SACG/SACG_APP/bin/SACG_APP.dll
proyecto/SACG/SACG_APP/bin/SACG_APP.pdb
proyecto/SACG/SACG_APP/bin/SACG_Finders.dll
proyecto/SACG/SACG_APP/bin/SACG_Finders.pdb
proyecto/SACG/SACG_APP/bin/SACG_Mappers.dll
proyecto/SACG/SACG_APP/bin/SACG_Mappers.pdb
proyecto/SACG/SACG_APP/bin/SACG_Repos.dll
proyecto/SACG/SACG_APP/bin/SACG_Repos.pdb
proyecto/SACG/SACG_APP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
proyecto/SACG/SACG_APP/obj/Debug/SACG_APP.csproj.FileListAbsolute.txt
proyecto/SACG/SACG_APP/obj/Debug/SACG_APP.csprojResolveAssemblyReference.cache
proyecto/SACG/SACG_APP/obj/Debug/SACG_APP.dll
proyecto/SACG/SACG_APP/obj/Debug/SACG_APP.pdb
proyecto/SACG/SACG_APP/bin/SACG_APP.dll
proyecto/SACG/SACG_APP/bin/SACG_APP.pdb
proyecto/SACG/SACG_APP/bin/SACG_BLL.dll
proyecto/SACG/SACG_APP/bin/SACG_BLL.pdb
proyecto/SACG/SACG_APP/bin/SACG_Finders.dll
proyecto/SACG/SACG_APP/bin/SACG_Finders.pdb
proyecto/SACG/SACG_APP/bin/SACG_Mappers.dll
proyecto/SACG/SACG_APP/bin/SACG_Mappers.pdb
proyecto/SACG/SACG_APP/bin/SACG_Repos.dll
proyecto/SACG/SACG_APP/bin/SACG_Repos.pdb
proyecto/SACG/SACG_APP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
proyecto/SACG/SACG_BLL/bin/Debug/SACG_BLL.dll
proyecto/SACG/SACG_BLL/bin/Debug/SACG_BLL.pdb
proyecto/SACG/SACG_BLL/obj/Debug/SACG_BLL.dll
proyecto/SACG/SACG_BLL/obj/Debug/SACG_BLL.pdb
proyecto/SACG/SACG_DAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
proyecto/SACG/SACG_Finders/bin/Debug/SACG_BLL.dll
proyecto/SACG/SACG_Finders/bin/Debug/SACG_BLL.pdb
proyecto/SACG/SACG_Finders/bin/Debug/SACG_Finders.dll
proyecto/SACG/SACG_Finders/bin/Debug/SACG_Finders.pdb
proyecto/SACG/SACG_Finders/bin/Debug/SACG_Mappers.dll
proyecto/SACG/SACG_Finders/bin/Debug/SACG_Mappers.pdb
proyecto/SACG/SACG_Finders/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
proyecto/SACG/SACG_Finders/obj/Debug/SACG_Finders.csprojResolveAssemblyReference.cache
proyecto/SACG/SACG_Finders/obj/Debug/SACG_Finders.dll
proyecto/SACG/SACG_Finders/obj/Debug/SACG_Finders.pdb
proyecto/SACG/SACG_Mappers/bin/Debug/SACG_BLL.dll
proyecto/SACG/SACG_Mappers/bin/Debug/SACG_BLL.pdb
proyecto/SACG/SACG_Mappers/bin/Debug/SACG_Mappers.dll
proyecto/SACG/SACG_Mappers/bin/Debug/SACG_Mappers.pdb
proyecto/SACG/SACG_Mappers/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
proyecto/SACG/SACG_Mappers/obj/Debug/SACG_Mappers.csproj.FileListAbsolute.txt
proyecto/SACG/SACG_Mappers/obj/Debug/SACG_Mappers.csprojResolveAssemblyReference.cache
proyecto/SACG/SACG_Mappers/obj/Debug/SACG_Mappers.dll
proyecto/SACG/SACG_Mappers/obj/Debug/SACG_Mappers.pdb
proyecto/SACG/SACG_Repos/bin/Debug/SACG_BLL.dll
proyecto/SACG/SACG_Repos/bin/Debug/SACG_BLL.pdb
proyecto/SACG/SACG_Repos/bin/Debug/SACG_Finders.dll
proyecto/SACG/SACG_Repos/bin/Debug/SACG_Finders.pdb
proyecto/SACG/SACG_Repos/bin/Debug/SACG_Mappers.dll
proyecto/SACG/SACG_Repos/bin/Debug/SACG_Mappers.pdb
proyecto/SACG/SACG_Repos/bin/Debug/SACG_Repos.dll
proyecto/SACG/SACG_Repos/bin/Debug/SACG_Repos.pdb
proyecto/SACG/SACG_Repos/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
proyecto/SACG/SACG_Repos/obj/Debug/SACG_Repos.csprojResolveAssemblyReference.cache
proyecto/SACG/SACG_Repos/obj/Debug/SACG_Repos.dll
proyecto/SACG/SACG_Repos/obj/Debug/SACG_Repos.pdb
proyecto/SACG/SACG_DAL/obj/Debug/SACG_DAL.csproj.FileListAbsolute.txt
proyecto/SACG/SACG.v11.suo
proyecto/SACG/SACG_APP/bin/SACG_APP.dll
proyecto/SACG/SACG_APP/bin/SACG_APP.pdb
proyecto/SACG/SACG_APP/obj/Debug/SACG_APP.dll
proyecto/SACG/SACG_APP/obj/Debug/SACG_APP.pdb
proyecto/SACG/SACG_DAL/obj/Debug/SACG_DAL.csproj.FileListAbsolute.txt
script.sql
