USE [master]
GO
/****** Object:  Database [SACG_DB]    Script Date: 07/07/2014 11:07:39 ******/
CREATE DATABASE [SACG_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SACG', FILENAME = N'x:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SACG.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SACG_log', FILENAME = N'x:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SACG_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SACG_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SACG_DB]
GO
/****** Object:  StoredProcedure [dbo].[spActivarEstablecimiento]    Script Date: 07/07/2014 11:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spActivarEstablecimiento]
(
@DICOSE bigint
)
as
begin
	update Establecimientos
	set Estado = 'Activo'
	where DICOSE = @DICOSE
end
;
GO
/****** Object:  StoredProcedure [dbo].[spAgregarEvento]    Script Date: 07/07/2014 11:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spAgregarEvento]
(
@Tipo varchar(25),
@Nombre varchar(50),
@Fecha datetime,
@Observaciones varchar(max),
@DICOSEOrigen bigint,
--@DICOSEDestino bigint,
@Animal int
)
as
begin
	if exists (select * from Animales where ID = @Animal)
	begin
		insert into Eventos values (@Tipo, @Nombre, @Fecha, @Observaciones, @DICOSEOrigen, @DICOSEOrigen, @Animal);
	end
	if @Tipo like '%Muerte%'
	begin
		update Animales set AñoMuerte = year(@fecha) where ID = @Animal
	end
end
;
GO
/****** Object:  StoredProcedure [dbo].[spAgregarTransferencia]    Script Date: 07/07/2014 11:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spAgregarTransferencia]
(
@Tipo varchar(25),
@Nombre varchar(50),
@Fecha datetime,
@Observaciones varchar(max),
@DICOSEOrigen bigint,
@DICOSEDestino bigint,
@Animal int
)
as
begin
	if exists (select * from Animales where ID = @Animal and DICOSE = @DICOSEOrigen)
	begin
		insert into Eventos values (@Tipo, @Nombre, @Fecha, @Observaciones, @DICOSEOrigen, @DICOSEDestino, @Animal);
		update Animales set DICOSE = @DICOSEDestino where ID = @Animal;
	end	
end
;
GO
/****** Object:  StoredProcedure [dbo].[spAltaAnimal]    Script Date: 07/07/2014 11:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spAltaAnimal]
(
@DICOSE bigint,
@Sexo char(1),
@Ano int,
@Estacion char(1),
@Raza varchar(25)
)
as
begin
	if exists (select * from Establecimientos where DICOSE = @DICOSE)
	begin
		insert into Animales values ('', @DICOSE, @Sexo, @Ano, '', @Estacion, @Raza);
	end	
end
;
GO
/****** Object:  StoredProcedure [dbo].[spAltaAnimalRFID]    Script Date: 07/07/2014 11:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spAltaAnimalRFID]
(
@RFID bigint,
@DICOSE bigint,
@Sexo char(1),
@Ano int,
@Estacion char(1),
@Raza varchar(25)
)
as
begin
	if exists (select * from Establecimientos where DICOSE = @DICOSE)
	begin
		insert into Animales values (@RFID, @DICOSE, @Sexo, @Ano, '', @Estacion, @Raza);
	end	
end
;
GO
/****** Object:  StoredProcedure [dbo].[spAltaEstablecimiento]    Script Date: 07/07/2014 11:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spAltaEstablecimiento]
(
@DICOSE bigint,
@RUT bigint,
@BPS bigint,
@RazonSocial varchar(25),
@Responsable int,
@Departamento varchar(25),
@SeccionalPolicial int,
@Paraje varchar(25),
@Direccion varchar(50),
@Telefono varchar(10),
@Email varchar(25),
@Superficie int,
@Nombre varchar(25),
@Apellido varchar(25)
)
as
begin
	if not exists (select * from Personas where Documento = @Responsable)
	begin
		insert into Personas values (@Responsable, @Nombre, @Apellido, @Telefono);
	end
	insert into Establecimientos values (@DICOSE, @RUT, @BPS, @RazonSocial, @Responsable, @Departamento, @SeccionalPolicial,
		@Paraje, @Direccion, @Telefono, @Email, @Superficie, 'Pendiente')
	
end
;
GO
/****** Object:  StoredProcedure [dbo].[spBajaEstablecimiento]    Script Date: 07/07/2014 11:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spBajaEstablecimiento]
(
@DICOSE bigint
)
as
begin
	update Establecimientos
	set Estado = 'Inactivo'
	where DICOSE = @DICOSE
end
;
GO
/****** Object:  StoredProcedure [dbo].[spModificarEstablecimiento]    Script Date: 07/07/2014 11:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[spModificarEstablecimiento]
(
@DICOSE bigint,
@RUT bigint,
@BPS bigint,
@RazonSocial varchar(25),
@Departamento varchar(25),
@SeccionalPolicial int,
@Paraje varchar(25),
@Direccion varchar(50),
@Telefono varchar(10),
@Email varchar(25),
@Superficie int
)
as
begin
	update Establecimientos
	set RUT = @RUT, BPS = @BPS, RazonSocial = @RazonSocial, Departamento = @Departamento,
	SeccionPolicial = @SeccionalPolicial, Paraje = @Paraje, Direccion = @Direccion, Telefono = @Telefono, Email = @Email, Superficie = @Superficie
	where DICOSE = @DICOSE
	
end
;
GO
/****** Object:  StoredProcedure [dbo].[spPassUsuario]    Script Date: 07/07/2014 11:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spPassUsuario]
(
@Nick varchar(25),
@Pass varchar(25)
)
as
begin
	update Usuarios
	set Pass = @Pass
	where Nick = @Nick
end
;
GO
/****** Object:  StoredProcedure [dbo].[spResponsableEstablecimiento]    Script Date: 07/07/2014 11:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spResponsableEstablecimiento]
(
@DICOSE bigint,
@Responsable int
)
as
begin
	if not exists (select * from Personas where Documento = @Responsable)
	begin
		insert into Personas values (@Responsable, '', '', (select Telefono from Establecimientos where DICOSE = @DICOSE))
	end
	update Establecimientos
	set Responsable = @Responsable
	where DICOSE = @DICOSE
end
;
GO
/****** Object:  Table [dbo].[Animales]    Script Date: 07/07/2014 11:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Animales](
	[RFID] [bigint] NULL,
	[DICOSE] [bigint] NULL,
	[Sexo] [char](1) NULL,
	[AñoNacimiento] [int] NULL,
	[AñoMuerte] [int] NULL,
	[EstacionNacimiento] [char](1) NULL,
	[RazaCruza] [varchar](25) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Establecimientos]    Script Date: 07/07/2014 11:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Establecimientos](
	[DICOSE] [bigint] NOT NULL,
	[RUT] [bigint] NULL,
	[BPS] [bigint] NULL,
	[RazonSocial] [varchar](25) NULL,
	[Responsable] [int] NULL,
	[Departamento] [varchar](25) NULL,
	[SeccionPolicial] [int] NULL,
	[Paraje] [varchar](25) NULL,
	[Direccion] [varchar](50) NULL,
	[Telefono] [varchar](10) NULL,
	[Email] [varchar](25) NULL,
	[Superficie] [int] NULL,
	[Estado] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[DICOSE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Eventos]    Script Date: 07/07/2014 11:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Eventos](
	[Tipo] [varchar](25) NULL,
	[Nombre] [varchar](50) NULL,
	[Fecha] [datetime] NULL,
	[Observaciones] [varchar](max) NULL,
	[DICOSEOrigen] [bigint] NULL,
	[DICOSEDestino] [bigint] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Animal] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Personas]    Script Date: 07/07/2014 11:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Personas](
	[Documento] [int] NOT NULL,
	[Nombre] [varchar](25) NULL,
	[Apellido] [varchar](25) NULL,
	[Telefono] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TipoEventos]    Script Date: 07/07/2014 11:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoEventos](
	[id] [int] NULL,
	[tipo] [varchar](50) NULL,
	[nombre] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 07/07/2014 11:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nick] [varchar](25) NULL,
	[Pass] [varchar](25) NULL,
	[Rol] [varchar](25) NULL,
	[Estado] [varchar](25) NULL,
	[DICOSE] [bigint] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[Activos]    Script Date: 07/07/2014 11:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Activos]
AS
SELECT        DICOSE
FROM            dbo.Establecimientos
WHERE        (Estado LIKE 'Activo')

GO
/****** Object:  View [dbo].[Pendientes]    Script Date: 07/07/2014 11:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Pendientes] as
select DICOSE
from Establecimientos
where estado like 'Pendiente';
GO
SET IDENTITY_INSERT [dbo].[Animales] ON 

INSERT [dbo].[Animales] ([RFID], [DICOSE], [Sexo], [AñoNacimiento], [AñoMuerte], [EstacionNacimiento], [RazaCruza], [ID]) VALUES (0, 1234, N'M', 1980, 0, N'V', N'Ave', 1)
INSERT [dbo].[Animales] ([RFID], [DICOSE], [Sexo], [AñoNacimiento], [AñoMuerte], [EstacionNacimiento], [RazaCruza], [ID]) VALUES (0, 1234, N'M', 1984, 0, N'O', N'Hf', 2)
INSERT [dbo].[Animales] ([RFID], [DICOSE], [Sexo], [AñoNacimiento], [AñoMuerte], [EstacionNacimiento], [RazaCruza], [ID]) VALUES (0, 1234, N'H', 1980, 0, N'I', N'41', 3)
SET IDENTITY_INSERT [dbo].[Animales] OFF
INSERT [dbo].[Establecimientos] ([DICOSE], [RUT], [BPS], [RazonSocial], [Responsable], [Departamento], [SeccionPolicial], [Paraje], [Direccion], [Telefono], [Email], [Superficie], [Estado]) VALUES (1, 1, 1, N'1', 1, N'1', 1, N'1', N'1', N'1', N'1', 1, N'Inactivo')
INSERT [dbo].[Establecimientos] ([DICOSE], [RUT], [BPS], [RazonSocial], [Responsable], [Departamento], [SeccionPolicial], [Paraje], [Direccion], [Telefono], [Email], [Superficie], [Estado]) VALUES (6, 6, 6, N'6', 6, N'6', 6, N'6', N'6', N'6', N'6', 6, N'Inactivo')
INSERT [dbo].[Establecimientos] ([DICOSE], [RUT], [BPS], [RazonSocial], [Responsable], [Departamento], [SeccionPolicial], [Paraje], [Direccion], [Telefono], [Email], [Superficie], [Estado]) VALUES (8, 8, 8, N'8', 8, N'8', 8, N'8', N'8', N'8', N'8', 8, N'Pendiente')
SET IDENTITY_INSERT [dbo].[Eventos] ON 

INSERT [dbo].[Eventos] ([Tipo], [Nombre], [Fecha], [Observaciones], [DICOSEOrigen], [DICOSEDestino], [ID], [Animal]) VALUES (N'Pesaje', N'Pesaje', CAST(0x00009FCB00000000 AS DateTime), N'1', 1, 1, 2, NULL)
INSERT [dbo].[Eventos] ([Tipo], [Nombre], [Fecha], [Observaciones], [DICOSEOrigen], [DICOSEDestino], [ID], [Animal]) VALUES (N'VACUNAS', N'pasd', CAST(0x0000A36100976F2B AS DateTime), N'12', 1234, 1234, 3, 2)
INSERT [dbo].[Eventos] ([Tipo], [Nombre], [Fecha], [Observaciones], [DICOSEOrigen], [DICOSEDestino], [ID], [Animal]) VALUES (N'NACIMIENTOS', N'NACIMIENTOS', CAST(0x0000A35C00000000 AS DateTime), N'sd', 1234, 1234, 4, 3)
SET IDENTITY_INSERT [dbo].[Eventos] OFF
INSERT [dbo].[Personas] ([Documento], [Nombre], [Apellido], [Telefono]) VALUES (1, N'Prueba', N'Prueba', N'')
INSERT [dbo].[Personas] ([Documento], [Nombre], [Apellido], [Telefono]) VALUES (3, N'3', N'3', N'3')
INSERT [dbo].[Personas] ([Documento], [Nombre], [Apellido], [Telefono]) VALUES (4, N'4', N'4', N'4')
INSERT [dbo].[TipoEventos] ([id], [tipo], [nombre]) VALUES (1, N'SANITARIO', N'MUERTE')
INSERT [dbo].[TipoEventos] ([id], [tipo], [nombre]) VALUES (2, N'SANITARIO', N'PESAJE')
INSERT [dbo].[TipoEventos] ([id], [tipo], [nombre]) VALUES (3, N'SANITARIO', N'VACUNAS')
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([ID], [Nick], [Pass], [Rol], [Estado], [DICOSE]) VALUES (1, N'Administrador', N'1234', N'Administrador', N'Activo', -1)
INSERT [dbo].[Usuarios] ([ID], [Nick], [Pass], [Rol], [Estado], [DICOSE]) VALUES (2, N'E1', N'1234', N'Establecimiento', N'Activo', 1234)
INSERT [dbo].[Usuarios] ([ID], [Nick], [Pass], [Rol], [Estado], [DICOSE]) VALUES (3, N'S1', N'1234', N'Sociedad', N'Activo', -1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
ALTER TABLE [dbo].[Animales]  WITH CHECK ADD FOREIGN KEY([DICOSE])
REFERENCES [dbo].[Establecimientos] ([DICOSE])
GO
ALTER TABLE [dbo].[Establecimientos]  WITH CHECK ADD FOREIGN KEY([Responsable])
REFERENCES [dbo].[Personas] ([Documento])
GO
ALTER TABLE [dbo].[Eventos]  WITH CHECK ADD FOREIGN KEY([Animal])
REFERENCES [dbo].[Animales] ([ID])
GO
ALTER TABLE [dbo].[Animales]  WITH CHECK ADD CHECK  (([EstacionNacimiento]='I' OR [EstacionNacimiento]='P' OR [EstacionNacimiento]='O' OR [EstacionNacimiento]='V'))
GO
ALTER TABLE [dbo].[Animales]  WITH CHECK ADD CHECK  (([Sexo]='H' OR [Sexo]='M'))
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Establecimientos"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 135
               Right = 247
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Activos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Activos'
GO
USE [master]
GO
